<div class="container">
  <div [hidden]="submitted">
    <h1>Start New Process Form</h1>
    <form (ngSubmit)="onSubmit()" #startNewProcess="ngForm" class="ui form">
      <div class="field">
        <label for="processVar1">Process Var 1</label>
        <input type="text" id="processVar1"
               required
               [(ngModel)]="model.processVar1" name="firstName"
               #name="ngModel">
      </div>

      <div class="field">
        <label for="processVar2">Process Var 2</label>
        <input type="text" id="processVar2"
               [(ngModel)]="model.processVar2" name="processVar2" #name="ngModel">
      </div>

      <div class="field">
        <button type="submit" class="ui button" [disabled]="!startNewProcess.form.valid">Start Process</button>
      </div>
    </form>
  </div>
  <div [hidden]="!submitted">
    <p>Process has been started.</p>
  </div>
</div>
